body.light {
  --background: #ffffff;
  --tile-border: rgb(211,214,218);
  --color-correct: rgb(106,170,100);
  --color-present: rgb(201,180,88);
  --color-absent: rgb(120,124,126);
  --tile-text-color:#FFFFFF;
  --tile-background: #FFFFFF;
  --color-tone-1:#000000;
  --color-tone-3: rgb(135,138,140);
  --color-tone-7:#FFFFFF;
  --key-background: #d3d6da;
  --key-evaluated-text-color: #FFFFFF;
  --key-text-color: #000000;
}

body.dark {
  --background: #121213;
  --foreground: #f8f8f8;
  --tile-border: #3a3a3c;
  --color-correct: #538d4e;
  --color-present: #b59f3b;
  --color-absent: #3a3a3c;
  --tile-text-color: #171717;
  --tile-background: #3a3a3c;
  --color-tone-1: #f8f8f8;
  --color-tone-3: #565758;
  --color-tone-7: #121213;
  --key-evaluated-text-color: #f8f8f8;
  --key-background: #818384;
  --key-text-color: #f8f8f8;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* styles/globals.css */
  font-family: 'Franklin Gothic', sans-serif;
  background-color: var(--background);
}


