.message {
    padding: 10px;
    background-color: var(--foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    color: var(--color-tone-7);
}